*{
     font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;

}
body {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    background-color: rgb(36, 32, 32);
    height: 100vh;
}

.sidebar {
     background-color: rgb(12, 11, 11);
    width: 340px;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
}

.main-content {
    background-color: rgb(16, 16, 11);
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}
a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #141212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 20px;
}

.nav-option {
    display: flex;
    align-items: center;
    line-height: 2.5rem;
    padding: 0.5rem 0;
    opacity: 0.7;
    transition: 0.3s;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.nav-option a {
    font-size: 1rem;
}

.library {
    background-color: #1e1b1b;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.lib-option {
    height: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0.7;
    margin-bottom: 1rem;
    gap: 1rem;
}

.lib-box,
.box {
    gap: 20px;
    background-color: #121212;
    border-radius: 0.9rem;
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;
    margin: 0.25rem 0 0.5rem;
    color: white;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.box-p2 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
     margin-bottom: 1rem;
    color: gray;
}

.badge {
    background-color: white;
     margin-top: 1px; 
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.badge:hover {
    background-color: #ddd;
}
.sticky-nav{
    position: sticky;
    top:0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

@media  (max-width: 1000px){
.hide {
    display:none ;
}
}

.card{
    background-color: #232323;
     width: 200px;
     border-radius: 0.5rem;
     padding: 1rem;
     margin-left: 1.5rem;
     margin-top: 1rem;
}
 .card-container{
    display: flex;
    flex-wrap: wrap;
   
 } 
 .card-img {
    width: 100%;
    border-radius: 0.5rem;
    display: flex;

 }
  .card-tittle {
    font-weight: 600;
  }
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    width: 100px;
}
     .music-player {
            background-color: rgb(37, 37, 148);
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
        }
        .album {
            display: flex;
            align-items: center;
            width: 25%;
            background-color: pink;
        }
        .album img {
            height: 50px;
            width: 50px;
            border-radius: 4px;
            margin-right: 10px;
        }
       
        .player {
            width: 50%;
            background-color: orange ;
        }
        .controls { 
        background-color: green;
        }
        .player-control {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .player-control-icon {
            height: 2rem;
            margin-right: 1%;
            opacity: 0.7;
        }
        .player-control-icon:hover{
            object-position: right;
        
        }
        .progress-bar {
    width: 70%;
    background-color: green;
    cursor: pointer;
}

